.bookmarks-page-container {
    padding: 20px;
    text-align: center;
}

.bookmarks-page-container ul {
    list-style-type: none;
    padding: 0;
}

.bookmarks-page-container li {
    margin: 10px 0;
    font-size: 18px;
}

.bookmarks-page-container a {
    text-decoration: none;
    color: #007bff;
}

.bookmarks-page-container a:hover {
    text-decoration: underline;
}

.bookmarks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookmark-item {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: left;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.bookmark-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.bookmark-image {
    width: 100%;
    height: auto;
}

.bookmark-item h2 {
    font-size: 16px;
    margin: 10px;
} 