.recipe-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.recipe-detail {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-img {
    max-width: 100%;
    height: auto;
}

.bookmark-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.bookmark-button:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.5em;
} 